.container {
    width: 80%;
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.false, .correct {
    margin-top: 5%;
    font-size: 1.5em;
    font-weight: 800;
}

.false {
    color: rgb(211,49,49);
}

.correct {
    color: rgb(122,199,12);
}

@media (max-width: 526px) { 
    .container {
        width: 90%;
        margin: 15% auto 0 auto;
    }
}

@media (min-width: 527px) and (max-width: 768px) { 

}

@media (min-width: 769px) and (max-width: 1200px) { 

}