.submit {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    width: 100%;
}

.submit button {
    padding: 8px;
    color: #fff;
    display: inline-block;
    border-width: 0;
    width: 30%;
    background-color: rgb(119,200,0);
    border-radius: 4px;
    cursor: pointer;

}

.submit button:active {
    background-color: rgb(229,56,56);
}

@media (max-width: 526px) { 
    .submit {
        margin-top: 35%;
    }
}

@media (min-width: 527px) and (max-width: 768px) { 
    .submit {
        margin-top: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) { 
    .submit {
        margin-top: 25%;
    }
}